<!DOCTYPE html>
<html>
  <head>
    <title>Expresiones Regulares</title>
  </head>
  <body>
    <h1>Ingresa una expresión regular</h1>
    <form method="post" action="{{ url_for('home') }}">
      <input type="text" name="regex" placeholder="Expresión regular">
      <select name="automaton_type">
        <option value="NFA">NFA</option>
        <option value="DFA">DFA</option>
        <option value="DirectDFA">DirectDFA</option>
      </select>
      <input type="submit" value="Graficar">
    </form>
  </body>
</html>
